@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


* {
    margin: 0;
}

html { 
    /* background: url("6195005.jpg") no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("Computer Science.jpg");
    background-color: rgb(52,58,64);
    background-size: cover;
}
nav {
    top:0;
    position: fixed;
    background-color: rgba(52,58,64, 0.75);
    width: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



nav div {
    float: left;
    opacity: 1;
    padding: 10px;
    font-weight: bold;
}

nav a {
    float: right;
    
    opacity: 1;
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
    transition: 0.3s;
    width: 150px;
    text-align: center;
    color: white;
    
}



nav a:visited {
    color: white;
    
}



nav a:active {
    color: blue;
}

nav a:hover {
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main {
    text-align: center;
    
    

    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;

   
}

.main p {
    
    /* margin: 50px; */

    color: white;
}



h1 {
    color: white;
    margin-bottom: 10px;
    font-size: 3em;
}

img {
    width: 500px;
}

ul {
    justify-content: center;
    list-style-type: none;
    margin-left: 15%;
    margin-right: 15%;
    
}

li {
    color:white;
    opacity: 1;
    justify-content: center;
    margin: 20px;
    background-color: rgba(22, 52, 61, 0.75);

    border-radius: 10px;
    font-size: 1.5em;
    padding: 10px;
    
    
}

button {
    color:white;
    opacity: 1;
    justify-content: center;
    
    background-color: rgba(52,58,64, 0.75);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    border: none;
    transition: 0.1s;
    padding: 10px;
}

button:hover {
    border: 1px solid black;
}

button:active {
    color: black;
    background-color: white;
}





li:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;

}




.active {
    border-bottom: 1px solid white;
}

.bannarImage {
    width: 100%;
}

.fadeImage {
    border: 2px solid #000;
  border-image: linear-gradient(to right, transparent, #000) 1;
}

.aboutMe {
    display: flex; /* Use flexbox to create a flexible layout */
  align-items: center; /* Align items vertically in the center */
}

.imageMe {
    width: 300px; /* Adjust the width of the image as per your requirements */
  margin-right: 10px; /* Add some spacing between the image and the paragraph */

}

.pMe {
    flex-grow: 1; /* Allow the paragraph to take up remaining space */
}